*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 1px solid tomato; */
}
ul{
    list-style: none;
}
@font-face {
    font-family: poppins1;
    src: url(asset/fonts/Multicolore.ttf);
}
@font-face {
    font-family: poppins2;
    src: url(asset/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins3;
    src: url(asset/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins4;
    src: url(asset/fonts/Poppins-Regular.ttf);
}
body,html{
    background: #000000;
}
nav {
    z-index: 1;
    float: right;
    top: 15px;
}
nav ul li{
    font-family: poppins2;
    margin: 8px 0px 0px 0px;
    text-align: left;
    margin-right: 20px;
}
nav ul li:hover{
    color: #db3548;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
nav a{
    margin-left: 54px;
}
nav button{
    color: rgb(88, 255, 255);
}
.navbar-toggler:focus {
    box-shadow: none; 
}
.navbar-toggler-icon {
    background-image: none; 
}

.navbar-toggler::before {
    content: "\f0c9"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: white; 
    font-size: 1.5rem; 
}
.logo{
    margin-left: 0.5rem;
}
#img1{
    height: 19rem;
    object-fit: cover;
    width: 100%;
}
#img9{
    height: 19rem;
    object-fit: cover;
    width: 100%;
}
#container1{
    position: absolute;
}
#img4,#img7,#img9{
    width: 100%;
    height: 19rem;
    object-fit: cover;
}
#img2,#img3,#img5,#img6,#img8,#img9,#img10{
    height: 19rem;
    object-fit: cover;
}
.img-container {
    cursor: pointer;
    position: relative;
}
.img-title {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: poppins2;
    opacity: 0;
    transition: all 0.5s;
}
.img-title span{
    color: #bbbbbb;
}
#textlow{
    font-size: 14px;
}
.img-container:hover .img-title {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}
.img-container:hover #img1{
    opacity: 0.4;
}
.img-container #img2{
    opacity: 1;
}
.img-container:hover #img2{
    opacity: 0.4;
}
.img-container:hover #img3 {
    opacity: 0.4;
}
.img-container:hover #img4 {
    opacity: 0.4;
}
.img-container:hover #img5 {
    opacity: 0.4;
}
.img-container:hover #img6 {
    opacity: 0.4;
}
.img-container:hover #img7{
    opacity: 0.4;
}
.img-container:hover #img8{
    opacity: 0.4;
}
.img-container:hover #img9{
    opacity: 0.4;
}
.img-container:hover #img10{
    opacity: 0.4;
}
#cont4 img{
    height: 19rem;
}
#usman{
    color: orange;
}
@media(max-width:991px){
    .nav-content{
        display: none;
    }
    #navbartoggle{
        margin-top: -0.3rem;
        margin-left: -4rem;
    }
    #img4,#img2,#img7{
        width: 97%;
    }
    #container1{
        margin-top: 1rem;
    }
}
@media(min-width:991px){
    .logo{
        display: none;
    }
}
@media(max-width:575px){
    #container1 img{    
        height: 14rem;
    }
    .img-title,#textlow{
        font-size: 14px;
        width: 8rem;
    }
}

.mobile {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

  <!-- bio page -->

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.image-container {
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.image-container img {
  max-width: 100%;
  height: auto;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust height as needed */
  }

.body {
    width: 100vw;
    background-image: url('https://raw.githubusercontent.com/JoeTheDataGuy/Programming-Projects/refs/heads/main/chess.jpeg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    font-family: 'Chess Regular', sans-serif;
    }



.p {
  text-align: left;
  font-family: ‘Didact Gothic’;
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  }

.transparent-div {
        background-color: rgba(255, 255, 255, 0.50); /* White background with 50% transparency */
        width: 100%; /* Adjust width as needed */
        height: 10%; /* Adjust height as needed */
        padding: 20px; /* Optional: Add padding for inner spacing */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
        margin: 0;
      }
h1 {
        font-weight: bold;
        color: #777;
        font-size: 48px;
      }
h2 {
        font-weight: bold;
        color: #777;
        padding: 60px;
      }


@import url('https://fonts.googleapis.com/css2?family=Chess+Regular&display=swap');

.bodyGallery {
    background-color:#1d1d1d !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:0px;
    font-size:16px;
  }

  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }


  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }

          .page-top{
              margin-top:85px;
          }

img.zoom {
      width: 50%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }


.transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {

       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;
      }

      .b {
        transform: translateY(-39px);
      }
      .Iam {
        padding: 2em 5em;
        font: normal 40px/50px Montserrat, sans-serif;
        color: #999;
      }
      .mobileBio
      {
        display: none;
      }
      @media (max-width: 700px) {
        .Iam {
        overflow-x: hidden;
        display: none;
      }
      .mobileBio
      {
        display: block;
      }
      }
      .Iam p {
        height: 50px;
        float: left;
        margin-right: 0.3em;
      }
      .Iam b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 50px;
        top: 40px;
      }
      .Iam .innerIam {
        display: inline-block;
        color: #FFFFFF;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;

      /*animation*/
      -webkit-animation:move 5s;
         -moz-animation:move 5s;
          -ms-animation:move 5s;
           -o-animation:move 5s;
              animation:move 5s;
      /*animation-iteration-count*/
      -webkit-animation-iteration-count:infinite;
         -moz-animation-iteration-count:infinite;
          -ms-animation-iteration-count:infinite;
           -o-animation-iteration-count:infinite;
              animation-iteration-count:infinite;
      /*animation-delay*/
      -webkit-animation-delay:1s;
         -moz-animation-delay:1s;
          -ms-animation-delay:1s;
           -o-animation-delay:1s;
              animation-delay:1s;
      }
      @keyframes move{
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -190px; }
      }

      @-webkit-keyframes move {
          0%  { top: 0px; }
          20% { top: -50px; }
          40% { top: -100px; }
          60% { top: -150px; }
          80% { top: -200px; }
      }
      @-moz-keyframes move {
          0%  { top: 0px; }
          20% { top: -50px; }
          40% { top: -100px; }
          60% { top: -150px; }
          80% { top: -200px; }
      }
      @-o-keyframes move {
          0%  { top: 0px; }
          20% { top: -50px; }
          40% { top: -100px; }
          60% { top: -150px; }
          80% { top: -200px; }
      }
      @keyframes move {
          0%  { top: 0px; }
          20% { top: -50px; }
          40% { top: -100px; }
          60% { top: -150px; }
          80% { top: -200px; }
      }

#h2bio {
  background-color: #212529;
  margin: 0;
}
.bioHeading
{
  font-weight: bold;
  color: rgba(255, 255, 255, 0.55);
  text-align: left;
}

